* {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* --------------NavBar-------------- */
.Navbar {
    background-color: black;
    display: flex;
    width: 100vw;
    gap: 50px;
}

.Navbar a {
    text-decoration: none;
    width: auto;
}

.Navbar li {
    list-style: none;
    color: rgb(255, 255, 255);
    width: auto;
    padding: 20px;
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.Navbar li:hover {
    background-color: #483020;
    transition: 1.0s;
    border-radius: 10px;
}

/* --------------NavBar-------------- */
/*  --------------Introdução--------------*/
.Introducao {
    display: inline-block;
    position: relative;
    width: 100vw;
    background-image: url('../src/img/Foto-Capa.png');
}

.Introducao h1 {
    width: auto;
    font-size: 130px;
    color: white;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 15%;
    left: 10%;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.Introducao p {
    font-size: 34px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 43%;
    left: 10%;
    max-width: 1250px;
    animation: fadeInRight;
    animation-duration: 1.5s;
}

/* --------------Imagem Fundo da Introdução-------------- */
.imgfundo {
    background-image: url('./img/Foto-Capa.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    height: 100vh;
    height: 80vh;
}

/* --------------Imagem Fundo da Introdução-------------- */

/*  --------------Introdução--------------*/
/*  --------------Modelo-1--------------*/
.Modelo-1 {
    display: inline-block;
    position: relative;
}

.Imagem-Fundo {
    max-width: 101%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);

}

.Modelo-1 h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    position: absolute;
    top: 19%;
    left: 12%;
}

.Imagens-ilustrativas-1 {
    width: 400px;
    position: absolute;
    top: 38%;
    left: 12%;
    border-radius: 50px;
}

.Modelo-1 p {
    font-size: 40px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    top: 38%;
    left: 48%;
    max-width: 850px;
}

/*  --------------Modelo-1--------------*/
/*  --------------Modelo-2--------------*/
.Modelo-2 {
    display: inline-block;
    position: relative;
}

.Imagem-Fundo {
    width: 110%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);

}

.Modelo-2 h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 60%;
}

.Imagens-ilustrativas-2 {
    width: 400px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 38%;
    left: 60%;
    border-radius: 50px;
}

.Modelo-2 p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 39%;
    left: 10%;
    max-width: 800px;

}

/*  --------------Modelo-2--------------*/
/*  --------------Footer-------------*/

footer {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

footer ul {
    list-style: none;
    display: inline-block;
}

footer li {
    float: left;
    padding: 20px;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

span {
    color: #573d2c;
}

/*  --------------Botões-------------*/
button {
    border: 0px;
    background-color: transparent;
    width: 106px;
    height: 105px;
}

.Botao-Instagram {
    background-image: url('./img/Logo-Instagram-Preto.png');
}

.Botao-Facebook {
    background-image: url('./img/Logo-Facebook-Preto.png');

}

.Botao-WhatsApp {
    background-image: url('./img/Logo-WhatsApp-Preto.png');

}

.Botao-Linkedin {
    background-image: url('./img/Logo-Linkedlin-Preto.png');
}

/*  --------------Botões-------------*/
/*  --------------Botões horver-------------*/


.Botao-Instagram:hover {
    background-image: url('./img/Logo-Instagram-color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
}

.Botao-Facebook:hover {
    background-image: url('./img/Logo-Facebook-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
}

.Botao-WhatsApp:hover {
    background-image: url('./img/Logo-WhatsApp-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));

}

.Botao-Linkedin:hover {
    background-image: url('./img/Logo-Linkdlin-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));

}

/*  --------------Botões horver-------------*/

/*  --------------Footer-------------*/
/*! -----------------------Media 1669px----------------------- */
@media (max-width: 1669px) {
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 p {
        font-size: 38px;
        left: 45%;
        max-width: 750px;
    }
    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-2 p {
        font-size: 38px;
        left: 6%;
        max-width: 750px;
    }
    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 1600px----------------------- */
@media (max-width: 1600px) {
    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 120px;
    }

    .Introducao p {
        font-size: 34px;
        max-width: 1200px;
    }
    /*? -------------------- Introdução -------------------- */
}

/*! -----------------------Media 1450px----------------------- */

@media (max-width: 1450px) {

    /*? --------------------NavBar-------------------- */
    .Navbar {
        align-items: center;
        justify-content: center;
        font-size: 23px;

    }

    .Navbar li {
        padding: 22px;
    }

    /*? --------------------NavBar-------------------- */
    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 105px;
    }

    .Introducao p {
        max-width: 1100px;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-1450px.png');
        filter: brightness(0.3);
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 h1 {
        font-size: 65px;
        top: 17%;
    }

    .Imagens-ilustrativas-1 {
        width: 370px;
    }

    .Modelo-1 p {
        font-size: 33px;
        left: 45%;
        max-width: 650px;
        text-align: justify;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-2 h1 {
        font-size: 65px;
        top: 17%;
    }

    .Imagens-ilustrativas-2 {
        width: 370px;
    }

    .Modelo-2 p {
        font-size: 33px;
        left: 5%;
        max-width: 650px;
        text-align: justify;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 1300px----------------------- */
@media (max-width: 1300px) {

    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 100px;
    }

    .Introducao p {
        font-size: 32px;
        max-width: 1000px;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 h1 {
        font-size: 60px;
        top: 10%;
    }

    .Imagens-ilustrativas-1 {
        top: 28%;
        width: 350px;
    }

    .Modelo-1 p {
        font-size: 30px;
        top: 28%;
        left: 45%;
        max-width: 600px;
        text-align: justify;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-1 h2 {
        font-size: 60px;
        top: 10%;
    }

    .Imagens-ilustrativas-2 {
        top: 28%;
        width: 350px;
    }

    .Modelo-2 p {
        font-size: 30px;
        top: 28%;
        max-width: 600px;
        text-align: justify;
    }

    /*? -------------------- Modelo 2 -------------------- */
}


/*! -----------------------Media 1150px----------------------- */
@media (max-width: 1150px) {

    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        top: 7%;
    }

    .Introducao p {
        top: 28%;
        font-size: 35px;
        max-width: 800px;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-1150px.png');
        height: 105vh;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 h1 {
        top: 4%;
    }

    .Imagem-Fundo {
        height: 140vh;
    }

    .Imagens-ilustrativas-1 {
        top: 17%;
        width: 380px;
    }

    .Modelo-1 p {
        font-size: 35px;
        top: 60%;
        left: 12%;
        max-width: 790px;
        text-align: justify;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-2 h1 {
        top: 4%;
        left: 12%;
    }

    .Imagem-Fundo {
        height: 140vh;
    }

    .Imagens-ilustrativas-2 {
        top: 15%;
        left: 12%;
        width: 380px;
    }

    .Modelo-2 p {
        font-size: 35px;
        top: 50%;
        left: 12%;
        max-width: 790px;
        text-align: justify;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 940px----------------------- */
@media (max-width: 940px) {

    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 90px;
        left: 10%;
        top: 17%;
    }

    .Introducao p {
        font-size: 27px;
        max-width: 650px;
        top: 40%;
        left: 10%;
        text-align: justify;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-940.png');
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */

    .Imagem-Fundo {
        height: 100vh;
    }

    .Imagens-ilustrativas-1 {
        top: 15%;
    }

    .Modelo-1 p {
        font-size: 33px;
        top: 55%;
        max-width: 700px;
        text-align: justify;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Imagem-Fundo {
        height: 100vh;
    }

    .Imagens-ilustrativas-2 {
        top: 15%;
    }

    .Modelo-2 p {
        font-size: 33px;
        top: 55%;
        max-width: 700px;
        text-align: justify;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 850px----------------------- */
@media (max-width: 850px) {
    /*? -------------------- Modelo 1 -------------------- */

    .Modelo-1 p {
        font-size: 33px;
        max-width: 600px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Modelo-2 p {
        font-size: 33px;
        max-width: 600px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 750px----------------------- */
@media (max-width: 750px) {

    /*? -------------------- Introdução -------------------- */
    .Imagem-Fundo {
        height: 165vh;
    }
    .Introducao h1 {
        font-size: 85px;
        top: 5%;
    }

    .Introducao p {
        font-size: 23px;
        max-width: 550px;
        top: 34%;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */

    .Modelo-1 p {
        font-size: 30px;
        max-width: 500px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Modelo-2 p {
        font-size: 30px;
        max-width: 500px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 640px----------------------- */
@media (max-width: 640px) {

    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 80px;
    }

    .Introducao p {
        font-size: 25px;
        max-width: 500px;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-640px.png');
        filter: brightness(0.3);
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */

    .Modelo-1 p {
        max-width: 470px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Modelo-2 p {
        max-width: 470px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 590px----------------------- */
@media (max-width: 590px) {

    /*? -------------------- Introdução -------------------- */
    .Navbar {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .Introducao h1 {
        font-size: 75px;
    }

    .Introducao p {
        max-width: 450px;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 h1 {
        font-size: 55px;
    }

    .Imagens-ilustrativas-1 {
        width: 350px;
    }

    .Modelo-1 p {
        max-width: 430px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-2 h1 {
        font-size: 55px;
    }

    .Imagens-ilustrativas-2 {
        width: 350px;
    }

    .Modelo-1 p {
        max-width: 430px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 540px----------------------- */
@media (max-width: 540px) {

    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 70px;
        top: 8%;
    }

    .Introducao p {
        font-size: 23px;
        max-width: 440px;
        top: 25%;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Imagem-Fundo {
        height: 130vh;
    }
    .Modelo-1 h1 {
        font-size: 50px;
    }

    .Imagens-ilustrativas-1 {
        width: 300px;
    }

    .Modelo-1 p {
        top: 47%;
        max-width: 400px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Imagem-Fundo {
        height: 130vh;
    }
    .Modelo-2 h1 {
        font-size: 50px;
    }

    .Imagens-ilustrativas-2 {
        width: 300px;
    }

    .Modelo-2 p {
        top: 47%;
        max-width: 400px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 500px----------------------- */
@media (max-width: 500px) {
    /*? -------------------- Introdução -------------------- */

    .Introducao p {
        max-width: 390px;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */

    .Modelo-1 p {
        font-size: 28px;
        max-width: 350px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Modelo-2 p {
        font-size: 28px;
        max-width: 350px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 460px----------------------- */
@media (max-width: 460px) {

    /*? -------------------- NavBar -------------------- */
    .Navbar {
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 18px;
    }

    /*? -------------------- NavBar -------------------- */
    /*? -------------------- Introdução -------------------- */

    .Introducao h1 {
        font-size: 63px;
    }

    .Introducao p {
        max-width: 340px;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */

    .Modelo-1 p {
        max-width: 340px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */

    .Modelo-2 p {
        max-width: 340px;
    }

    /*? -------------------- Modelo 2 -------------------- */

}

/*! -----------------------Media 430px----------------------- */

@media (max-width: 430px) {
    /*? -------------------- Introdução -------------------- */

    .Introducao h1 {
        font-size: 60px;
        left: 5%;
    }

    .Introducao p {
        font-size: 23px;
        max-width: 350px;
        left: 5%;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-430px.png');
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Modelo-1 h1 {
        font-size: 45px;
    }

    .Imagens-ilustrativas-1 {
        width: 250px;
    }

    .Modelo-1 p {
        top: 45%;
        font-size: 25px;
        max-width: 290px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Modelo-2 h1 {
        font-size: 45px;
    }

    .Imagens-ilustrativas-2 {
        width: 250px;
    }

    .Modelo-2 p {
        top: 45%;
        font-size: 25px;
        max-width: 290px;
    }

    /*? -------------------- Modelo 2 -------------------- */


}

/*! -----------------------Media 390px----------------------- */
@media (max-width: 390px) {
    /*? -------------------- NavBar -------------------- */

    .Navbar {
        font-size: 15px;
        gap: 6px;
    }

    /*? -------------------- NavBar -------------------- */
    /*? -------------------- Introdução -------------------- */

    .Introducao h1 {
        font-size: 55px;
        top: 5%;
    }

    .Introducao p {
        font-size: 20px;
        max-width: 320px;
        top: 23%;
    }

    .imgfundo {
        background-image: url('./img/Foto-Capa-390px.png');
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Imagem-Fundo {
        height: 130vh;
    }
    .Modelo-1 p {
        top: 43%;
        max-width: 280px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Imagem-Fundo {
        height: 130vh;
    }
    .Modelo-2 p {
        top: 43%;
        max-width: 280px;
    }

    /*? -------------------- Modelo 2 -------------------- */

}

/*! -----------------------Media 360px----------------------- */
@media (max-width: 360px) {
    /*? -------------------- Introdução -------------------- */

    .Introducao p {
        font-size: 20px;
        max-width: 300px;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Imagem-Fundo {
        height: 135vh;
    }
    .Modelo-1 h1 {
        font-size: 42px;
    }

    .Imagens-ilustrativas-1 {
        top: 12%;
        width: 230px;
    }
    .Modelo-1 p {
        top: 38%;
        max-width: 250px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Imagem-Fundo {
        height: 135vh;
    }
    .Modelo-1 h2 {
        font-size: 42px;
    }

    .Imagens-ilustrativas-2 {
        top: 12%;
        width: 230px;
    }
    .Modelo-2 p {
        top: 38%;
        max-width: 250px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 344px----------------------- */
@media (max-width: 344px) {

    /*? -------------------- Body -------------------- */

    body {
        background-color: black;
    }

    /*? -------------------- Body -------------------- */
    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 50px;
    }

    .Introducao p {
        font-size: 20px;
        max-width: 270px;
    }

    /*? -------------------- Introdução -------------------- */
}

/*! -----------------------Media 327px----------------------- */
@media (max-width: 327px) {
    /*? -------------------- NavBar -------------------- */

    .Navbar {
        font-size: 10px;
        gap: 0px;
    }

    /*? -------------------- NavBar -------------------- */
    /*? -------------------- Introdução -------------------- */
    .Introducao h1 {
        font-size: 45px;
    }

    .Introducao p {
        font-size: 20px;
        max-width: 230px;
        top: 20%;
    }

    .imgfundo {
        background-image: url(./img/Foto-Capa-320px.png);
        height: 130vh;
    }

    /*? -------------------- Introdução -------------------- */
    /*? -------------------- Modelo 1 -------------------- */
    .Imagem-Fundo {
        height: 190vh;
    }
    .Modelo-1 h1 {
        font-size: 38px;
    }

    .Imagens-ilustrativas-1 {
        width: 200px;
    }

    .Modelo-1 p {
        top: 35%;
        max-width: 210px;
        font-size: 24px;
    }

    /*? -------------------- Modelo 1 -------------------- */
    /*? -------------------- Modelo 2 -------------------- */
    .Imagem-Fundo {
        height: 190vh;
    }
    .Modelo-1 h2 {
        font-size: 38px;
    }

    .Imagens-ilustrativas-2 {
        width: 200px;
    }

    .Modelo-2 p {
        top: 35%;
        max-width: 210px;
        font-size: 24px;
    }

    /*? -------------------- Modelo 2 -------------------- */
}

/*! -----------------------Media 300px----------------------- */
@media (max-width: 300px) {

    /*? -------------------- Introdução -------------------- */
    .Navbar {
        font-size: 8px;

    }

    .Introducao h1 {
        font-size: 40px;
    }

    .Introducao p {
        font-size: 20px;
        max-width: 240px;
        top: 16%;
    }

    .imgfundo {
        background-image: url(./img/Foto-Capa-320px.png);
        height: 80vh;
    }

    /*? -------------------- Introdução -------------------- */
}