* {
    padding: 0;
    margin: 0;
    width: 100%;
}

html {
    width: 110%;
}

body {
    background-color: rgb(148, 148, 148);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* --------------NavBar-------------- */
.Navbar {
    background-color: black;
    display: flex;
    width: 100vw;
    /* tenho que arrumar a responsividade dessa navbar*/
}

.Navbar a {
    text-decoration: none;
    width: auto;
}

.Navbar li {
    list-style: none;
    color: rgb(255, 255, 255);
    width: auto;
    padding: 18px 30px;
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.Navbar li:hover {
    background-color: #483020;
    transition: 1.0s;
    border-radius: 10px;
}

/* --------------NavBar-------------- */
/*  --------------Introdução--------------*/
.Introducao {
    display: inline-block;
    position: relative;
    width: 100vw;
    background-image: url('../src/img/Foto-Capa.png');
}

.Introducao h1 {
    width: auto;
    font-size: 130px;
    color: white;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 15%;
    left: 10%;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.Introducao p {
    font-size: 34px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 43%;
    left: 10%;
    max-width: 1250px;
    animation: fadeInRight;
    animation-duration: 1.5s;
}

/* --------------Imagem Fundo da Introdução-------------- */
.imgfundo {
    background-image:url('./img/Foto-Capa.png') ;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    width: 100%;
    height: 80vh;
}

/* --------------Imagem Fundo da Introdução-------------- */

/*  --------------Introdução--------------*/
/*  --------------Modelo-1--------------*/
.Modelo-1 {
    display: inline-block;
    position: relative;
}

.Imagem-Fundo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    max-width: 100%;

}

.Modelo-1 h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 12%;
}

.Imagens-ilustrativas-1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 38%;
    left: 12%;
    border-radius: 50px;
}

.Modelo-1 p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 48%;
    max-width: 700px;
}

/*  --------------Modelo-1--------------*/
/*  --------------Modelo-2--------------*/
.Modelo-2 {
    display: inline-block;
    position: relative;
}

.Imagem-Fundo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);

}

.Modelo-2 h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 60%;
}

.Imagens-ilustrativas-2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 38%;
    left: 60%;
    border-radius: 50px;
}

.Modelo-2 p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 39%;
    left: 10%;
    max-width: 800px;

}

/*  --------------Modelo-2--------------*/
/*  --------------Footer-------------*/

footer {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

footer ul {
    list-style: none;
    display: inline-block;
}

footer li {
    float: left;
    padding: 20px;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

span {
    color: #573d2c;
}

/*  --------------Botões-------------*/
button {
    border: 0px;
    background-color: transparent;
    width: 106px;
    height: 105px;
}

.Botao-Instagram {
    background-image: url('./img/Logo-Instagram-Preto.png');
}

.Botao-Facebook {
    background-image: url('./img/Logo-Facebook-Preto.png');

}

.Botao-WhatsApp {
    background-image: url('./img/Logo-WhatsApp-Preto.png');

}

.Botao-Linkedin {
    background-image: url('./img/Logo-Linkedlin-Preto.png');
}

/*  --------------Botões-------------*/
/*  --------------Botões horver-------------*/


.Botao-Instagram:hover {
    background-image: url('./img/Logo-Instagram-color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
}

.Botao-Facebook:hover {
    background-image: url('./img/Logo-Facebook-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));
}

.Botao-WhatsApp:hover {
    background-image: url('./img/Logo-WhatsApp-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));

}

.Botao-Linkedin:hover {
    background-image: url('./img/Logo-Linkdlin-Color.png');
    transition: 0.5s;
    filter: drop-shadow(0 4px 1px rgb(0, 0, 0));

}

/*  --------------Botões horver-------------*/

/*  --------------Footer-------------*/
/*! -----------------------Media 1600px----------------------- */

@media (max-width: 1600px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 120px;
    }

    .Introducao p {
        font-size: 34px;
        max-width: 1200px;
    }

}

/*! -----------------------Media 1450px----------------------- */

@media (max-width: 1450px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 105px;
    }

    .Introducao p {
        max-width: 1100px;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-1450px.png');
        filter: brightness(0.3);
    }
}

/*! -----------------------Media 1300px----------------------- */
@media (max-width: 1300px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 100px;
    }

    .Introducao p {
        font-size: 32px;
        max-width: 1000px;
    }
}

/*! -----------------------Media 1150px----------------------- */
@media (max-width: 1150px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 95px;
    }

    .Introducao p {
        top: 38%;
        font-size: 29px;
        max-width: 800px;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-1150px.png');
    }
}

/*! -----------------------Media 940px----------------------- */
@media (max-width: 940px) {
    .Navbar {
        width: 100vw;
    }

    .Introducao h1 {
        font-size: 90px;
        left: 10%;
        top: 17%;
    }

    .Introducao p {
        font-size: 27px;
        max-width: 650px;
        top: 40%;
        left: 10%;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-940.png');
    }
}

/*! -----------------------Media 750px----------------------- */
@media (max-width: 750px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 85px;
    }

    .Introducao p {
        font-size: 25px;
        max-width: 550px;
    }

}

/*! -----------------------Media 640px----------------------- */
@media (max-width: 640px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 80px;
    }

    .Introducao p {
        font-size: 25px;
        max-width: 500px;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-640px.png');
        filter: brightness(0.3);
    }
}

/*! -----------------------Media 590px----------------------- */
@media (max-width: 590px) {
    .Navbar {
        width: 91%;
    }

    .Introducao h1 {
        font-size: 75px;
    }

    .Introducao p {
        max-width: 450px;
    }
}

/*! -----------------------Media 540px----------------------- */
@media (max-width: 540px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 70px;
    }

    .Introducao p {
        font-size: 23px;
        max-width: 440px;
    }
}

/*! -----------------------Media 500px----------------------- */
@media (max-width: 500px) {
    .Navbar {
        width: 100%;
    }

    .Introducao p {
        max-width: 390px;
    }
}

/*! -----------------------Media 460px----------------------- */
@media (max-width: 460px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 65px;
    }

    .Introducao p {
        max-width: 370px;
        top: 35%;
    }
}

/*! -----------------------Media 430px----------------------- */
@media (max-width: 430px) {
    .Navbar {}

    .Introducao h1 {
        left: 5%;
    }

    .Introducao p {
        font-size: 23px;
        max-width: 350px;
        left: 5%;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-430px.png');
    }
}

/*! -----------------------Media 390px----------------------- */
@media (max-width: 390px) {
    .Navbar {}

    .Introducao h1 {
        font-size: 55px;
    }

    .Introducao p {
        font-size: 22px;
        max-width: 320px;
    }
    .imgfundo {
        background-image: url('./img/Foto-Capa-390px.png');
    }
}

/*! -----------------------Media 360px----------------------- */
@media (max-width: 360px) {
    .Navbar {}

    .Introducao p {
        font-size: 20px;
        max-width: 300px;
    }
}